<li class="post">
                                        <div class="comments-area">
                                        <ul class="comment-list">
                                            <li class="comment">
                                                <div class="comment-body">
                                                    <div class="comment-author"><img src="{{ avatars.robohash(post.author.avatar_hash) }}" alt="" class="img-circle" width="10%" height="auto"> </div>
                                                    <div class="comment-info">
                                                        <div class="comment-header">
                                                            <div class="comment-meta"><span class="comment-meta-date pull-right">{{ moment(post.timestamp).fromNow() }} </span></div>
                                                            <h4 class="user-title"><a href="{{ url_for('.user', username=post.author.username) }}">{{ post.author.username }}</a></h4>
                                                        </div>
                                                        {% if post.disabled  %}
                {% if current_user.is_administrator() or current_user.is_moderate(post.board) %}
                                                        <div class="comment-content">
                                                           <div class="post-body">
                        <p><i>该帖子已被删除</i></p>
                        <a href="{{ url_for('.post', id=post.id) }}" class="post-body">{{ post.title }}</a>
                    </div>
                                                        </div>
                                                        <div class="reply"> <div class="post-footer">
                        <a href="{{ url_for('.edit', id=post.id) }}">
                            <span class="label label-default">编辑 [Admin]</span>
                        </a>
                        <a href="{{ url_for('.recover_post', id=post.id) }}">
                            <span class="label label-success">恢复 [Admin]</span>
                        </a>
                        <a href="{{ url_for('.board', boardname=post.board.name) }}">
                            <span class="label label-info" >所属版块</span>
                        </a>
                        <a href="{{ url_for('.post', id=post.id) }}#comments">
                            <span class="label label-primary">{{ post.comment_count }} 条回帖</span>
                        </a>
                        <a href="{{ url_for('.post', id=post.id) }}#comments">
                            <span class="label label-primary">{{ post.view_count }} 阅读</span>
                        </a>
                    </div></div>
                                    {% else %}
                                            <div class="comment-content">

                        <p><i>该帖子已被删除</i></p>
                    <
                                                        </div>
                                                         {% endif %}
            {% else %}



                                                         <div class="comment-content">
                                                             <a href="{{ url_for('.post', id=post.id) }}" class="post-body">{{ post.title }}</a>
                                                        </div>
                                                        <div class="reply"><div class="post-footer">
                    {% if current_user.is_administrator() or current_user.is_moderate(post.board) %}
                    <a href="{{ url_for('.edit', id=post.id) }}">
                        <span class="label label-default">编辑[Admin]</span>
                    </a>
                    <a href="{{ url_for('.delete_post', id=post.id) }}">
                        <span class="label label-danger">删除[Admin]</span>
                    </a>
                    {% elif current_user == post.author %}
                    <a href="{{ url_for('.edit', id=post.id) }}">
                        <span class="label label-default">编辑</span>
                    </a>
                    <a href="{{ url_for('.delete_post', id=post.id) }}">
                        <span class="label label-danger">删除</span>
                    </a>
                    {% endif %}
                    <a href="{{ url_for('.board', boardname=post.board.name) }}">
                        <span class="label label-info" >所属版块</span>
                    </a>
                    <a href="{{ url_for('.post', id=post.id) }}#comments">
                        <span class="label label-primary">{{ post.comment_count }} 条回帖</span>
                    </a>
                    <a href="{{ url_for('.post', id=post.id) }}#comments">
                            <span class="label label-primary">{{ post.view_count }} 阅读</span>
                    </a>
                </div></div>
                       {% endif %}


                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        </div></li>

<table class="table table-hover followers">
    <thead><tr><th>用户</th></tr></thead>
    {% for user in users %}
    <tr>
        <td>
            <a href="{{ url_for('.user', username = user[0].username) }}">
                <img src="{{ avatars.robohash(user[0].avatar_hash) }}" alt="" class="img-circle" width="10%" height="auto">
                {{ user[0].username }}
            </a>
        </td>
    </tr>
    {% endfor %}
</table>